body {
    background-color: rgb(217, 160, 188);
}

.container {
    text-align: center;
}

.navbar{
  padding: 0;
}
.navContainer{
  background-color: rgb(217, 160, 188);

}

.nav-item a{
  text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'Maven Pro', sans-serif;
}
.navbarLogo{
  font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    float: left;
    padding: 1rem;

}
.navbarLogo:hover {
    text-shadow: rgb(237, 215, 231) 1px 0 10px;
}

.hover-underline-animation {
   display: inline-block;
   position: relative;
   color: #ffffff;
 }
 
 .hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: 
 #ffffff;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
 }
 
 .hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }
.web-logo img {
    float: left;
}

.firstContainer {
    background-color: rgb(217, 160, 188);
    height: 700px;
    margin: 0;
    width: 100%;
}
h1{
  color: rgb(255, 254, 255);
  font-family: 'Maven Pro', sans-serif;

}

h1 span{

  color: #683747;
}

.cards {
    display: inline-block;
}

.cards .card {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(115, 114, 114, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
  
}

.cards .card:hover{
    background: #ffffff;
    box-shadow: 0px 15px 26px rgba(139, 132, 132, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 40px;
    transform: translateY(-5px) scale(1.005) 
    
  }

h1{
    color: #ffffff;
}

h2,.h2 {
    color: rgb(147, 65, 94);
    font-family: 'Maven Pro', sans-serif;

}

h5{
    font-family: 'Maven Pro', sans-serif;

}


.dot2 {
    height: 3rem;
    width: 3rem;
    background-color: #8e5876;
    border-radius: 50%;
    margin: 5px;
   
}

.dot2 i {
  margin-top: 18px;
  margin-left: 17px;
   color: #ffedf4;
}

.dot2Container{
  z-index: 2;
}

.dot2Container .dot2:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #846172;
  }
  
  .dot2Container .dot2:hover:hover {
    color: #743558;
    box-shadow: 0 0 5px #a12a68;
    text-shadow: 0 0 5px #885668;
    transform: translateY(-2px);
    animation-fill-mode: backwards;


    
  }
.title-word {
    animation: color-animation 10s linear infinite;
}


.subtitle {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #5b203c, #8e5465, #7a3447);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(233, 163, 178, 0.286);
}


@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

#education,#projects{
    background-color: #f8f9fa;
}

.langDivs{
    background-color: #882449;
}

.skillsDivs{
    background-color: #e089a9;
    color: #ffffff;
    font-family:'Maven Pro', sans-serif;
    border: none;
    height: 4rem;
    border-radius: 4%;
    width: 15rem;
}

.angle-down a i{
    text-shadow: rgb(237, 215, 231) 1px 0 10px;
    

}

.angleDown{
  color: #ffff; text-decoration: none; 
}
.angle-down a i:hover{
    
    transform: translateY(5px) scale(1.001);
 }


 /* ___________________________________________________ */
 .btn-one:link,
.btn-one:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn-one:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-one:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-one::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-one-white::after {
    background-color: #fff;
}

.btn-one:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.card {
    width: 24rem;
    height: 28rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(9, 8, 8);
    
}

    .imgCard{
      position: absolute;
      object-fit: cover;
      width: 20rem;
      height: 20rem;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    }
  
    .cardHead {
      color:rgb(128, 47, 82)0;
      inset: auto auto 30px 30px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-family: 'Roboto Condensed', sans-serif;
    }
    
    .cardTexts, .buttonCard {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
    }
    
    .cardTexts {
      inset: auto auto 80px 30px;
    }
    
    .buttonCard {
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }
    
    .cardTexts .buttonCard:hover h2 {
      inset: auto auto 220px 30px;
      transition: inset .3s ease-out;
    }
    
    .cardTexts:hover, .buttonCard:hover  {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }
    
    .cardTexts:hover img {
      transition: opacity .3s ease-in;
      opacity: 1;
    }
  
  
  
  .material-symbols-outlined {
    vertical-align: middle;
  }
  


  /* ------------------------------------- */
  .topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  .skills{
    color: #817e7e;
    font-size: small;
    
  }

  footer a{
    text-decoration: none;
  }

  .projectLinks{
    float: left;
    color: #837d7d;
  }

  .projectLinks:hover{
    text-shadow: rgb(211, 210, 211) 2px 0 10px;
  }


  #education, #projects{
    background-color: white;
  }

  .footer .container{
    color: #60404d;
  }

  .projectsDivs{
    padding-top: 100px; 
    padding-bottom: 100px;
  }

  #resume-btn a{
    text-decoration: none;
     color: #191717; 
  }

  .card{
    z-index: 1;
  }